.ui.header
  i.pied.piper.hat.icon
  | MittRegnskap

.ui.vertical.fluid.menu.borderless.inverted.violet.marginless
  a.item.link(href="/" class="#{ current.path[0] == 'index' ? 'active' : '' }")
    i.home.icon
    | Oversikt
  a.item.link(href="/budget" class="#{ current.path[0] == 'budget' ? 'active' : '' }")
    i.checkmark.icon
    | Budsjett
  a.item.link(href="/accounts" class="#{ current.path[0] == 'accounts' ? 'active' : '' }")
    i.block.layout.icon
    | Kontoer
  a.item.link(href="/transactions" class="#{ current.path[0] == 'transactions' ? 'active' : '' }")
    i.list.layout.icon
    | Transaksjoner
  a.item.link(href="/balance" class="#{ current.path[0] == 'balance' ? 'active' : '' }")
    i.law.icon
    | Balanse

  .menu.right.floated
    a.item.link
      i.sign.out.icon
      | Sign out
